.header {
	height: 55px;
	border-bottom: 1px solid #363636;
	border-top: 1px solid #363636;
	&__container {
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		align-items: center;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		@media (min-width: 600px) {
			&:hover {
				opacity: 0.6;
			}
		}
		img {
			height: 24px;
			width: 24px;
			user-select: none;
		}
		span {
			padding-left: 8px;
		}
	}

	&__menu {
		display: none;
		@media (max-width: 550px) {
			display: block;
		}
	}
}

.nav {
	display: flex;
	align-items: center;
	height: 100%;
	@media (max-width: 550px) {
		display: none;
	}
	&__list {
		display: flex;
		height: 100%;
	}

	&__list-item {
		height: 100%;
		a {
			display: inline-flex;
			align-items: center;
			padding: 0 15px;
			height: 100%;
			color: #e1e1e1;
			transition: all 0.3s ease 0s;
			font-weight: 500;
			line-height: 1.5;
			height: calc(100% - 1px);
			border-bottom: 1px solid #363636;
			@media (max-width: 650px) {
				padding: 0 10px;
			}
			&.nav-item-active {
				border-bottom: 1px solid var(--base-green);
			}
			&:hover {
				color: var(--base-green);
			}
		}
	}

	&__line {
		height: 24px;
		width: 1px;
		background: #363636;
		margin: 0 40px;
		@media (max-width: 650px) {
			margin: 0 20px;
		}
	}

	&__media {
		display: flex;
		gap: 20px;
		@media (max-width: 650px) {
			gap: 10px;
		}
	}

	&__media-item {
		a svg {
			transition: all 0.3s ease 0s;
			&:hover {
				fill: white;
			}
		}
	}
}

.nav-popup {
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: #1a1a1a;
	overflow: auto;
	&__header {
		height: 55px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #363636;
		border-top: 1px solid #363636;
		padding: 15px;
		span {
			font-size: 24px;
		}
	}

	&__list {
		margin: 20px 0 40px;
	}

	&__list-item {
		width: 70%;
		margin: 0 auto;
		border-bottom: 1px solid #363636;
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			color: #e1e1e1;
			font-size: 24px;
			line-height: 2;
		}
	}

	&__media {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		margin-bottom: 20px;
	}

	&__media-item {
		a svg {
			transition: all 0.3s ease 0s;
			&:hover {
				fill: white;
			}
		}
	}
}
